/*----------------------------*/
/*-----------FOOTER-----------*/
/*----------------------------*/

.footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
  }
  
  .footer__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .footer__container h3 {
      margin-bottom: 20px;
  }
  
  .footer__container p,
  .footer__container_nav-1 ul li {
      font-size: 18px;
      margin-bottom: 10px;
  }
  
  .footer__container-img {
    grid-column: span 2;
    width: 230px;
    height: auto;
    margin: 0;
  }
  
  .footer__container-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 1px 0 0.5px #495e57;
  
  }
  
  .footer__container_nav-1 {
    grid-column: span 3;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .footer__container_nav-1 ul {
    list-style-type: none;
  }
  
  .footer__container_nav-2 {
      grid-column: span 4;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }
  
    .footer__container_nav-3 {
      grid-column: span 3;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }
  
    /*----------------------------*/
  /*-----------MEDIA-----------*/
  /*----------------------------*/
  
  @media screen and (max-width: 1280px) {
    .footer__container {
      gap: 15px;
    }
  
    .footer__container h3 {
      font-size: 28px;
    }
  
    .footer__container ul li,
    .footer__container p {
      font-size: 18px;
      font-weight: 400;
    }
  
    .footer__container-img {
      width: 200px;
      height: auto;
      margin: 0;
    }
  }
  
  @media screen and (max-width: 768px) {
    .footer__container {
      grid-template-columns: repeat(12, 1fr);
      gap: 10px;
    }
  
  
    .footer__container-img {
      grid-column: span 1;
      width: 100%;
    }
  
    .footer__container-img img {
      width: 150px;
    }
  
    .footer__container_nav-1 {
      grid-column: span 4;
      text-align: center;
    }
    .footer__container_nav-2 {
      grid-column: span 3;
      text-align: center;
    }
  
    .footer__container_nav-3 {
      grid-column: span 4;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 700px) {
    .footer__container {
      grid-template-columns: repeat(12, 1fr);
      gap: 5px;
    }
  
    .footer__container h3 {
      font-size: 22px;
    }
  
    .footer__container ul li,
    .footer__container p {
      font-size: 14px;
    }
    .footer__container-img {
      display: none;
    }
  
    .footer__container_nav-1 {
      grid-column: span 4;
      text-align: center;
    }
    .footer__container_nav-2 {
      grid-column: span 4;
      text-align: center;
    }
  
    .footer__container_nav-3 {
      grid-column: span 4;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 600px) {
    .footer__container {
      grid-template-columns: repeat(12, 1fr);
      gap: 5px;
    }
  
    .footer__container h3 {
      font-size: 24px;
    }
  
    .footer__container ul li,
    .footer__container p {
      font-size: 16px;
    }
    .footer__container_nav-1 {
      grid-column: span 6;
      text-align: center;
    }
    .footer__container_nav-2 {
      grid-column: span 6;
      text-align: center;
    }
  
    .footer__container_nav-3 {
      grid-column: span 6;
      text-align: center;
    }
  }