.container__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1280px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding-left: 10%;
    background-color: #f7f3f3;
}

.reserver-h2 {
    padding-top: 50px;
    color: #495e57;
    font-weight: bolder;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 70%;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 10%;
}

.form-group {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
}

form input, form select {
    width: 300px;
    height: 40px;
    padding: 10px;
    border: 1px solid #495e57;
    border-radius: 5px;
}

label {
    min-width: 180px;
    font-size: 18px;
    margin-bottom: 10px;
}

.reserv-hr {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #495e57;
    border-radius: 5px;
}

.btn-submit {
    grid-column: span 2;
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #495e57;
    border-radius: 5px;
    background-color: #495e57;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #F4CE14;
    color: #333333;
}

.erreur {
    margin-top: 5px;
    margin-bottom: 0;
    height: 30px;
    color: red;
    font-weight: bolder;
    font-size: 16px;
}

.red {
    color: red;
}

select {
    -webkit-appearance: none; /* Pour Safari et Chrome */
    -moz-appearance: none; /* Pour Firefox */
    appearance: none; /* Pour les autres navigateurs */
    background: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right center;
    padding-right: 20px; /* Ajustez la valeur selon vos besoins */
    background-color: white; /* Assurez-vous que le fond est blanc pour voir la flèche */
    border: 1px solid #ccc; /* Ajoutez une bordure pour le style */
  }
  
  select:hover, select:focus {
    background-color: #F4CE14; /* Assurez-vous que le fond reste blanc au survol et au focus */
  }