/*-------------------------*/
/*----------Header---------*/
/*-------------------------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #495e57;
    color: #EDEFEE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0;
    padding: 0;
}

.header__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 450px;
}

.header__container-text {
    grid-column: span 8;
    align-self: start;
    margin-top: 2rem;
}

.header__container-text p {
    margin-top: 3rem;
}

.header__container-img {
    grid-column: span 4;
    width: 342px;
    height: 480px;
    margin-top: 2rem;
    position: top;
    background-image: url('../images/restaurantfood_342x512.webp');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.header__container button {
    background-color: #F4CE14;
    color: #333333;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    min-width: 200px;
    height: 60px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    padding: 10px 20px;
}

.header__container button:hover {
    background-color: #EDEFEE;
    color: #495e57;
}
/*------------------------------------------------------- */
/*-------------------- Responsive Styles----------------- */
/*------------------------------------------------------- */

@media (max-width: 1280px) {
    .header__container {
        margin-left: 1.25rem;
    }
}

@media (max-width: 1024px) {
    .header__container {
        grid-template-columns: repeat(8, 1fr);
        height: auto;
    }

    .header__container-text {
        grid-column: span 6;
    }

    .header__container-img {
        grid-column: span 2;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .header__container {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .header__container-text {
        grid-column: span 4;
        margin-top: 1rem;
    }

    .header__container-img {
        grid-column: span 4;
        width: 100%;
        height: auto;
        margin-top: 1rem;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        padding: 1rem;
    }

    .header__container {
        grid-template-columns: 1fr;
        gap: 10px;
        height: auto;
    }

    .header__container-text {
        grid-column: span 1;
        text-align: center;
        margin-top: 1rem;
    }

    .header__container-img {
        grid-column: span 1;
        width: 100%;
        height: auto;
        margin-top: 1rem;
    }

    .header__container button {
        width: 100%;
        font-size: 16px;
        height: 50px;
    }
}